<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>編集 - 顧客管理</title>
    </head>
    <h1>詳細情報の編集</h1>
    <div id="page">
        <form action="/update/<%= user[0].id %>" method="POST">
            <section>
                <p>会社名<br>
                    <input type="text" name="CompanyName" value="<%= user[0].CompanyName %>"></p>
                <p>会社の所在地<br>
                    <input type="text" name="address" value="<%= user[0].address %>"></p>
                <p>資本金<br>
                    ¥<input type="text" name="Capital" value="<%= user[0].Capital.toLocaleString() %>"></p>
                <p>アポ日付<br>
                        <% var date2 = user[0].NextAppointmentDate;
                        var b = date2.toLocaleDateString(); %>
                        <input type="text" name="NextAppointmentDate" value="<%- b %>"></p>
                <p>契約した売上<br>
                    ¥<input type="text" name="sales" value="<%= user[0].sales.toLocaleString() %>"></p>
                <p>現在契約本数<br>
                    <input type="text" name="CurrentContractCount" value="<%= user[0].CurrentContractCount %>"></p>
                <p>アポ先部署<br>
                    <input type="text" name="AppointmentDepartment" value="<%= user[0].AppointmentDepartment %>"></p>
                <p>担当者名<br>
                    <input type="text" name="ContactPersonName" value="<%= user[0].ContactPersonName %>"></p>
                <p>担当者名かな<br>
                    <input type="text" name="ContactPersonKana" value="<%= user[0].ContactPersonKana %>"></p>
            </section>
            <section>
                <p>会社URL<br>
                    <input type="text" name="URL" value="<%= user[0].URL %>"></p>
                <p>目標数値<br>
                    ¥<input type="text" name="salesGoal" value="<%= user[0].salesGoal.toLocaleString() %>">
                <p>目標数値と現在数値までいくらか<br>
                            残り
                            <% var goal = user[0].salesGoal - user[0].sales %>
                            ¥<%= goal.toLocaleString() %></p>
            </section>
            <button type="submit">更新</button>
        </form>
    </div>
    <style>
        h1 {
            text-align: center;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
        }
    </style>
    </body>
</html>
