<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>詳細情報 - 顧客管理</title>
    </head>
    <h1>詳細情報ページ</h1>
    <div id="page">
        <section>
            <p>会社名<br>
                <%= user[0].CompanyName %></p>
            <p>会社の所在地<br>
                <%= user[0].address %></p>
            <p>資本金<br>
                ¥<%= user[0].Capital.toLocaleString() %></p>
            <p>アポ日付<br>
                <% var date2 = user[0].NextAppointmentDate;
                var b = date2.toLocaleDateString(); %><%- b %></p>
            <p>契約した売上<br>
                ¥<%= user[0].sales.toLocaleString() %></p>
            <p>現在契約本数<br>
                <%= user[0].CurrentContractCount %></p>
            <p>アポ先部署<br>
                <%= user[0].AppointmentDepartment %></p>
            <p>担当者名<br>
                <%= user[0].ContactPersonName %></p>
            <p>担当者名かな<br>
                <%= user[0].ContactPersonKana %></p>
            <p>会社URL<br>
                <%= user[0].URL %></p>
        </section>
        <section>
            <form action="/update/<%= user[0].id %>" method="POST">
                <p>商談履歴</p>
                <input type="date">
                <input type="text">
                <p>TODOリスト</p>
                <input type="checkbox"><input type="text"><input type="button" value="追加">
                <ul id=""></ul>
                <p>目標数値<br>
                    ¥<%= user[0].salesGoal.toLocaleString() %>
                    <button>編集</button></p>
                <p>目標数値と現在数値までいくらか<br>
                    残り
                    <% var goal = user[0].salesGoal - user[0].sales %>
                    ¥<%= goal.toLocaleString() %></p>
            </form>
        </section>
    </div>
    <style>
        h1 {
            text-align: center;
        }

        #page {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
        }
    </style>
    </body>
</html>
